[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "submodules/catch2"]
	path = submodules/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule ".\\submodules\\benchmark"]
	path = .\\submodules\\benchmark
	url = git@github.com:google/benchmark.git
